<!-- burger partial template -->
<div class="card mb-1" style="width: 100%">
    <div class="row no-gutters">
        <div class="col-md-3">
            <img src="{{this.img_url}}" class="card-img" alt="">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h4 class="card-title">{{this.burger_name}}</h4>
                <p class="card-text">{{this.burger_info}}</p>
                <div class="card-button mb-4">
                    <a href="/devour" data-id="{{this.data_id}}"
                    onclick="handleDevour.call(this)" 
                    class="btn btn-dark text-center pl-3 pr-3">
                    <!-- favicon -->
                    <i class="fas fa-hamburger"></i> Devour the Burger! </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="card-mb-3">
        <img src="{{this.img_url}}" class="card-img-top" alt="">
        <div class="card-body">
            <p class="card-text" style="font-size: 12px">{{this.burger_info}}</p>
        </div>
        <div class="card-button d-flex justify-content-center mb-4">
            <a href="/devour" data-id="{{this.id}}"
            onclick="handleClick.call(this)"
            class="btn btn-warning text-black text-center pl-3 pr-3">
            <i class="fas fa-hamburger"></i> Add</a>
        </div>
    </div>
</div>