<div class="container">
    <div class="jumbotron">
        <h1>Place Order</h1>
        <p></p>
        <br>
        <h2>Choose a Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="nuevoburger"></label>
                        <input type="text" id="newBurger" placeholder="enter desired burger"> 
                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fas fa-burger">Add Burger</span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftshift"><B>Burger Queue</B>
                    <p>Click to Devour Burger</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><B>{{this.id}} - {{this.burger_name}}</B></span>
                        <button type="button" class="devourburger btn btn-warning" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><i class="fas fa-hamburger"></i></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightshift"><B>Devoured Burger List</B>
                    <p>Click to 86 devoured burger</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><B>{{this.id}} - {{this.burger_name}}</B></span>
                        <button type="button" class="eightySixBurger btn btn-danger" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><i class="fas fa-trash"></i></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>